<!DOCTYPE html>
<html lang="en">
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="url">Enter URL:</label>
        <input type="text" name="url" id="url">
        <button type="submit">Shorten URL</button>
    </form>
    {% if shortened_url %}
        <p>Shortened URL: <a href="{{ shortened_url }}">{{ shortened_url }}</a></p>
    {% endif %}
    
    <!-- Display the 10 most recent URLs -->
    {% if recent_urls %}
        <h2>Recent 10 URLs</h2>
        <ul>
            {% for url in recent_urls %}
                <li>
                    Original URL: <a href="{{ url.original_url }}">{{ url.original_url }}</a><br>
                    Shortened URL: <a href="{{ url.get_absolute_url }}">{{ url.get_absolute_url }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
